<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dreamtobe.aidl.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="cn.dreamtobe.aidl.client.AIDLClient"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.dreamtobe.aidl.service.AIDLService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="cn.dreamtobe.aidl.service" />
            </intent-filter>
        </service>
    </application>

</manifest>